<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ragit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/history_style.css">
    <script src="/static/query_retrieved.js"></script>
    <script src="/static/history.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.js"></script>
    <script>
        // Set the name of the page (CHAT, HISTORY or ADMIN)
        const PAGE_NAME = "{{ page_name }}";
    </script>
</head>
<body>
<div class="navigation_container">
    <span id="logo">
    <img src="/static/ragit.jpeg" width="76px" height=100%>
    </span>
    <ul>
        <li id="chat-li"><a href="/ragit">Chat</a></li>
        {% if is_admin %}
            <li id="history-li"><a href="/history">History</a></li>
            <li id="admin-li"><a href="/admin">Admin</a></li>
        {% endif %}
        <li id="logout-li"><a onclick="logout()">Log Out</a></li>
    </ul>
</div>

<div class="top_bar">
    <span id="collection_name_span" style="margin-left: 18px">
        Collection Name:<b> {{ collection_name }} </b>
    </span>
    <span id="user_name_span" style="margin-left: 18px"></span>
</div>

{% block content %}
{% endblock %}

<script>
    $(document).ready(function () {
        if (PAGE_NAME === "LOGIN") {
            $('#chat-li').hide();
            $('#history-li').hide();
            $('#admin-li').hide();
            $('#logout-li').hide();
            $('#collection_name_span').text("Please login to continue.")
        } else {
            const user_name = $.cookie('user_name');
            if (user_name != null) {
                $('#user_name_span').html("User:  <b>" + user_name + "</b>");

                if (PAGE_NAME === "CHAT") {
                    $("#chat-li").removeClass().addClass("set_active_page");
                    console.log("here");
                } else if (PAGE_NAME === "HISTORY") {
                    {% if is_admin %}
                        $("#history-li").removeClass().addClass("set_active_page");
                    {% endif %}
                } else if (PAGE_NAME === "ADMIN") {
                    {% if is_admin %}
                        $("#admin-li").removeClass().addClass("set_active_page");
                    {% endif %}
                }
            } else {
                $('#chat-li').hide();
                $('#history-li').hide();
                $('#admin-li').hide();
                $('#logout-li').hide();
                $('#collection_name_span').text("Please login to continue.")
            }
        }
    });
</script>
</body>
</html>
