{% extends "base.html" %}
{% block content %}

    <template id="side_by_side_template" class="chat_answer">
        <div class="two_div_container">
            <div class="left_div">
                <img></img>
            </div>
            <div class="right_div">
                <p style="width: 1000px">{message_txt}</p>
            </div>
        </div>
    </template>

    <div class="container">
        <!--
        <div class="control_container">
            <div class="slider_container">
                <label for="temperature">Temperature</label>
                <input type="range" id="temperature" name="temperature" min="0"
                       max="2" step="0.1" value="0.4"
                       oninput="this.nextElementSibling.value = this.value">
                <output>0.4</output>
            </div>

            <div class="slider_container">
                <label for="max_tokens">Max Tokens</label>
                <input type="range" id="max_tokens" name="max_tokens" min="200"
                       max="2000" step="50" value="1000"
                       oninput="this.nextElementSibling.value = this.value">
                <output>1000</output>
            </div>

            <div class="slider_container">
                <label for="matches_count">Closest Matches</label>
                <input type="range" id="matches_count" name="matches_count"
                       min="3" max="20" step="1" value="6"
                       oninput="this.nextElementSibling.value = this.value">
                <output>6</output>
            </div>
        </div>
        -->
        <div class="history" id="historyList"></div>
    </div>


    <div class="fixed-bottom-div">

        <div class="search_section">
            <input type="text" class="search-box" id="userQuery"
                   placeholder="Enter your question here">
            <button class="search-button" onclick="make_query()">Ask</button>
        </div>
    </div>


    <script>
        $(document).ready(function () {
                load_recent_chats();
            }
        )
    </script>
{% endblock %}
